.contentSection{
    padding: 0px;
}

/* HEADER SECTION */



.headerCont{
    padding: 0px;
}

.header{
    background-color: #d1669e;
    height: 130px;
    margin-bottom: 0px;
    border: 0px;
    border-radius: 0px;
}

.nav {
    position: relative;
    top: 47px;
}

@media (min-width:768px) and (max-width:991px){
    #navbar > ul{

    }

    #navbar > ul >li {

    }

    #navbar > ul > li > a{

    }
}

@media (min-width:768px) and (max-width:991px){
    #navbar > ul{padding-right: 15px;}

    #navbar > ul >li {

    }

    #navbar > ul > li > a{

    }
}

.topRef > li{
    margin: 0px 3px;
}

.toggleMenu{

}

#navbar{
    padding: 0px;
}

#navbar .nav .act{
    background-color: #7e206c;}

.nav > li:hover{
    background-color: #7e206c;
}

.nav > li:hover{
    transition: background-color 0.6s;

}

@media screen and (max-width:767px){
    #navbar .nav > li{
        background-color: #d1669e;
        margin: 0;
    }
}

.nav > li > a{

}

@media screen and (max-width:767px){
    .nav {top: 0px;margin: 0px;width: 100%;}

    .toggleMenu{padding: 0px;z-index: 5;background-color: #b9669b;}

    .row .navbar-header > button{border-radius: 0px;border: 0px;background-color: #7e206c !important;width: 40px;height: 40px;margin-bottom: 45px;margin-top: 45px;}

    #navbar{border: 0px;}

    #navbar .nav .act{

    }

    .row .navbar-header .navbar-toggle .menuLine{
        background-color: white;
        width: 100%;
    }

    .row .toggleMenu #navbar .nav > li > a{
        padding: 19px 15px;
        font-size: 25px;
        border: 1px solid lightgray;
        border-bottom: 0px;
    }

    .nav > li:hover{

    }

    .nav > li > a{padding-top: 15px;}
}

#navbar .navbar-nav > li > a{
    font-family: 'Nunito', sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    color:white;
    padding: 8px 20px 8px 20px;
}

@media screen and (max-width:1320px){
    #navbar .navbar-nav > li > a{
        padding: 8px 10px 8px 10px;
    }
}

@media(min-width:992px) and (max-width:1100px){
    #navbar .navbar-nav > li > a{
        font-family: 'Nunito', sans-serif;
        font-size: 1.4em;
        font-weight: 500;
        color:white;
        padding: 8px 5px 8px 5px;
    }
}

#navbar .navbar-nav > li > .active{
    background-color: red;
}

.navbar-header > button{
    position: relative;
    padding-top: 9px;
    padding-bottom: 9px;
    margin: 48px 20px;
}

@media screen and (max-width: 375px){

    .navbar-header > button {
        margin-right: 0px;
    }
}

#mainLogoCont{
    padding: 0px;
    margin: 0px;
    border: 0px;
    height: 130px;
}
#mainLogoCont > img{
    display: block;
    width: 82px;
    height: 82px;
    position: relative;
    top: 24px;
    cursor: pointer;
}

#mainLogoCont > h1{
    display: block;
    position: relative;
    top: -60px;
    left: 102px;
    width: 130px;
    font-family: 'Nunito', sans-serif;
    color: white;
    font-size: 38px;
    margin: 0px;
    cursor: pointer;
}

@media screen and (max-width:375px){
    #mainLogoCont > h1{font-size: 38px;left: 90px;top: -57px;}
}

@media screen and (max-width:336px){
    #mainLogoCont > h1{font-size: 35px;left: 90px;top: -55px;}
}

@media screen and (max-width:290px){
    #mainLogoCont > h1{font-size: 1.5em;left: 90px;}
}



/* GET QUOTE SECTION */

.getQuote{
    margin-top: 130px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

@media screen and (max-width: 991px){
    .getQuote{
        padding: 10px 0px;
        /* border-bottom: 1px solid lightgray; */
        padding-bottom: 15px;
    }
    .getQuote .quote5{
        padding-right: 15px;
    }
}

@media (max-width: 767px) {
    .getQuote{
        height: auto;
        padding-top: 18px;
        padding-bottom: 20px;
    }
}

.quote1{
    padding-right: 0px;
    position: absolute;
    width: 175px;
}

@media screen and (max-width: 991px){
    .quote1{
        position: relative;
    }
}


.subRow{
    height: 42px;
    margin: 0px;
}

.quote2, .quote3{
    padding: 0px;
    padding-right: 19px;
}

@media screen and (max-width: 767px){
    .quote2, .quote3{
        padding: 0px;
        margin-bottom: 7px;
    }
    .subRow{
        height: auto;
    }
}

.quote3{

}

.quote4{padding: 0px;}

.quote5{
    padding: 0px;
}


.quoteSubItem{
    height: 100%;
}


.pGetQuote{font-size: 29px;color: #d1669e;font-family: 'Nunito', sans-serif;height: 41px;}

.displLin{display: inline-block;}

@media screen and (max-width: 991px){
    .displLin{
        display: inline-block;
    }
}




@media screen and (max-width: 991px){
    .aplBraInp{margin-left: 0px;}
}

@media screen and (max-width: 768px){
    .displLin{
        display: inline-block;
    }

    .displLin > input{
        padding-left: 5%;
    }
}

@media (max-width: 1052px) and (min-width: 991px){
    .displLin{
        display: inline-block;
    }


    .pGetQuote{color: #b9669b;font-family: 'Nunito', sans-serif;/* margin-top: 5px; *//* height: 41px; */position: relative;font-size: 27px;}

    .quoteSubItem .buttonQuote{height: 42px;border-radius: 0px;background-color: #7e206c;border: none;float: right;}

    .quoteSubItem .dropButton > button > p{font-size: 14px;}

    .quoteSubItem .dropButton > button> canvas{}

}

@media screen and (max-width: 362px){
    .aplBraInp{width: 79%;}
}

.dropButton > button:hover{
    background-color: white;
}

.dropButton > button:active{
    background-color: white;
}

.dropButton > button:focus{
    background-color: white;
}

.dropButton .getItem{position: absolute;/* left: 11px; */margin: 0px;border-radius: 0px;width: 100%;padding-top: 0px;/* padding-bottom: 20px; */}

.dropButton .getItem > li:focus{
}

.dropButton .getItem > li >a{font-size: 1.3em;font-family: sans-serif;}

.dropButton .getItem > li >a:focus{
    background-color: #f5f5f5;
    border: 0px;
    outline: none;
}



.dropButton{
    height: 100%;
    width: 100%;
}

.dropButton .getItem .let{font-size: 21px;font-weight: bold;font-family: sans-serif;}

.dropButton .brandsList{
    height: 500px;
    overflow: scroll;
    overflow-x: hidden;
}

#brandQuote{

}




.dropButton > button{width: 100%;height: 100%;border-radius: 0px;}

@media (min-width: 1023px) and (max-width:1025px) {
    .dropButton > button{width: 100%;}
}

.dropButton > button > p{color: #4C4C4C;font-family: sans-serif;display: inline-block;float: left;font-size: 1.3em;}
.dropButton > button> canvas{
    float: right;
    position: relative;
    top: 7px;
}

@media (max-width: 1361px) and (min-width: 991px){
    .quoteSubItem .dropButton > button > p{font-size: 16px;font-family: sans-serif;}
    .dropButton .getItem > li >a{font-size: 16px;font-family: sans-serif;}
    .subRow .postcodeQuote > input::-webkit-input-placeholder {
        font-family: sans-serif;
        font-size: 16px;
        color: #4C4C4C;
        margin-left: 5%;
        vertical-align: baseline;

    }

    .postcodeQuote > input::-moz-placeholder{
        font-family: sans-serif;
        font-size: 16px;
        color: #4C4C4C;
        margin-left: 5%
    }/* Firefox 19+ */

    .postcodeQuote > input:-moz-placeholder{
        font-family: sans-serif;
        font-size: 16px;
        color: #4C4C4C;
        margin-left: 5%
    }/* Firefox 18- */

    .postcodeQuote > input:-ms-input-placeholder{
        font-family: sans-serif;
        font-size: 16px;
        color: #4C4C4C;
        margin-left: 5%
    }
}

@media (max-width: 1165px) and (min-width: 1065px){
    .dropButton .getItem > li >a{
        font-size: 1.3vw;
    }
}

@media (max-width: 1165px) and (min-width: 992px){
    .dropButton .getItem > li >a{
        font-size: 1.2vw;
    }
}


@media (min-width:768px) and (max-width: 990px){
    .dropButton > button > p{color: #4C4C4C;font-family: sans-serif;display: inline-block;float: left;font-size: 1.1em;}
    .dropButton .getItem > li >a{
        font-size: 1.1em;
    }

    .dropButton > button > canvas{}

    .postcodeQuote > input::-webkit-input-placeholder {
        font-family: sans-serif;
        font-size: 1.1em!important;
        color: #4C4C4C;
        margin-left: 5%;
        vertical-align: baseline;
    }
    .postcodeQuote > input::-moz-placeholder{
        font-family: sans-serif;
        font-size: 1.1em!important;
        color: #4C4C4C;
        margin-left: 5%;
        vertical-align: baseline;
    }/* Firefox 19+ */

    .postcodeQuote > input:-moz-placeholder{
        font-family: sans-serif;
        font-size: 1.1em!important;
        color: #4C4C4C;
        margin-left: 5%;
        vertical-align: baseline;
    }/* Firefox 18- */

    .postcodeQuote > input:-ms-input-placeholder{
        font-family: sans-serif;
        font-size: 1.1em!important;
        color: #4C4C4C;
        margin-left: 5%;
        vertical-align: baseline;
    }
}

@media (max-width: 768px) and (min-width: 300px){
    .postcodeQuote > input::-webkit-input-placeholder {
        position: relative;
        top: -2px;
    }
    .postcodeQuote > input::-moz-placeholder{
        position: relative;
        top: -2px;
    }
    .postcodeQuote > input:-moz-placeholder{
        position: relative;
        top: -2px;
    }
    .postcodeQuote > input:-ms-input-placeholder{
        position: relative;
        top: -2px;
    }


}

@media screen and (max-width: 1024px){
    .dropButton {padding: 0px 0px;}
    .dropButton .getItem{width: 100%;}
}

@media screen and (max-width: 991px){
    .dropButton {}
    .dropButton .getItem{}
}

@media screen and (max-width: 800px){
    .dropButton {}
    .dropButton .getItem{;}
}

@media screen and (max-width:767px){
    .dropButton{

    }
    .dropButton > button{
        width: 100%;
    }
    .dropButton .getItem{}
}

@media screen and (max-width:375px){
    .dropButton > button{
        width: 100%;
    }
    .dropButton .getItem{width: 100%;}
}

@media screen and (max-width: 300px){
    .dropButton > button > p{
        font-size: 17px;
    }
}

.stickyLi{border-radius: 0px;border: none;top: 0px;left: 1px;width: 100%;box-shadow: none;margin: 0px;}

.stickyLi > img{position: relative;left: 50%;margin-left: -5px;}



.postcodeQuote > input{height: 42px;}

.postcodeQuote > input::-webkit-input-placeholder {
    font-family: sans-serif;
    font-size: 1.3em;
    color: #4C4C4C;
    margin-left: 5%;
    vertical-align: baseline;

}

.postcodeQuote > input::-moz-placeholder{
    font-family: sans-serif;
    font-size: 1.3em;
    color: #4C4C4C;
    margin-left: 5%
}/* Firefox 19+ */

.postcodeQuote > input:-moz-placeholder{
    font-family: sans-serif;
    font-size: 1.3em;
    color: #4C4C4C;
    margin-left: 5%
}/* Firefox 18- */

.postcodeQuote > input:-ms-input-placeholder{
    font-family: sans-serif;
    font-size: 1.3em;
    color: #4C4C4C;
    margin-left: 5%
}

@media screen and (min-width: 1362px){
    .postcodeQuote > input::-webkit-input-placeholder {
        position: relative;
        top: 2px;

    }

    .postcodeQuote > input::-moz-placeholder{
        position: relative;
        top: -2px;
    }/* Firefox 19+ */

    .postcodeQuote > input:-moz-placeholder{
        position: relative;
        top: -2px;
    }/* Firefox 18- */

    .postcodeQuote > input:-ms-input-placeholder{
        position: relative;
        top: -2px;
    }
}

.classPlOne::-webkit-input-placeholder{
    font-size: 1.18vw!important;
}

.classPlOne{
    padding-top: 8px;
}

.caretCanvasOne{

}

.classPlTwo::-webkit-input-placeholder{
    font-size: 1.1vw!important;
}

.classPlTwo{
    padding-top: 12px;
}

.classPlThree{

}

.classPlThree::-webkit-input-placeholder{
    font-size: 1.5vw!important;
}

.caretCanvasThree{top: 6px!important;}

.dropButton .btn .caretCanvasTwo{top: 4px;}

.get{

}

.buttonQuote{height: 42px;border-radius: 0px;background-color: #7e206c;border: none;float: right;}

.buttonQuote:hover{
    background-color: #7e206c;
}

.buttonQuote:active{
    background-color: red;
}

.buttonQuote > p{font-family: 'Nunito', sans-serif;color: white;font-size: 1.4em;border: none;}

.buttonQuoteMedium{width: 100%;}

/* VARIANT 1 */

@media screen and (max-width:1500px){
    .buttonQuoteMedium{
        padding: 3px 0px;
    }
}

@media screen and (max-width:1350px){
    .buttonQuote > p{font-size: 17px;}
}

@media screen and (max-width:1180px){
    .buttonQuote > p{
        font-size: 15px;
    }
}

.buttonQuoteSmall{
    display: none;
}


.inputButton{
    display: none;
}

@media screen and (max-width: 1024px) {
    .buttonQuoteMedium{
        display: none;
    }

    .buttonQuoteSmall{
        display: block;
    }
}

@media (min-width: 375px) and (max-width: 1024px) {
    .buttonQuoteSmall{
        width: 55px;
    }
}

@media screen and (max-width: 375px) {
    .buttonQuoteSmall{

    }
}

@media screen and (max-width: 991px){
    .buttonQuoteSmall{
    height: 42px;
    }
}

@media screen and (max-width: 767px){

    .buttonQuoteSmall{
        position: relative;
        float: left;
        top: 98px;
    }
}

@media screen and (max-width: 375px){

    .buttonQuoteSmall{
        padding: 10px 10px;
        width: 55px;
    }

    .buttonQuoteSmall > p{
        position: relative;
    }

}

@media screen and (max-width: 320px) {
    .buttonQuoteSmall {
        width: 45px;
        padding: 6px 4px;
    }
}


@media (min-width: 768px) and (max-width: 991px){
    .postcodeQuote > input{
        height: 33px;
    }
    .quoteSubItem .dropButton > button{
        height: 33px!important;
    }
    .subRow{
        height: 33px;
    }
    .buttonQuoteSmall{
        height: 33px;
    }
}



/*PATH SECTION*/

.path{
    margin-top: 193px;
}

.pathSection{
    margin-top: 30px;
}

.pathSection > *{
    display: inline-block
}

.pathSection > a{
    color: black;
    font-family: "Nunito", sans-serif;
    font-size: 15px;
    text-decoration: none;
}

.pathSection .refHome{
    color: #d1669e;
}



/*CONTACT SECTION*/

.contact{
    margin-top: 30px;
}


/*CONTACT TEXT SECTION*/

.contactTextSection{

}

.contactText{
    padding-right: 80px;
    margin-top: 25px;
}

.contactText > p{font-size: 18px;}


/*PANELS SECTION*/

.leftPanel{
    margin-top: 45px;
}

.leftSubRow{
    padding: 9px 0px;
}

.leftItem{
    padding-left: 0px;
    position: absolute;
    height: 40px;
}

.leftItem > p{
    font-size: 18px;
    font-family: sans-serif;
    margin-top: 7px;
}

.leftInputCont{
    padding: 0px;
    }

.lastLeftSubRow{
    padding-bottom: 0px;
}

.leftInputCont > textarea{
    height: 210px;
    max-height: 210px;
    max-width: 100%;
}

.leftInput{
    width: 100%;
    border-radius: 0px;
    height: 40px;
}

.leftInput::-webkit-input-placeholder {
    font-family: sans-serif;
    font-size: 18px;
    color: #4C4C4C;
    margin-left: 5%;

}

.leftInput::-moz-placeholder{
    font-family: sans-serif;
    font-size: 19px;
    color: #4C4C4C;
    margin-left: 5%
}/* Firefox 19+ */

.leftInput:-moz-placeholder{
    font-family: sans-serif;
    font-size: 19px;
    color: #4C4C4C;
    margin-left: 5%
}/* Firefox 18- */

.leftInput:-ms-input-placeholder{
    font-family: sans-serif;
    font-size: 19px;
    color: #4C4C4C;
    margin-left: 5%
}

.leftBtnCount{
    padding: 0px;
    margin-top: 20px;
}

.leftBtnCount > input{
    width: 85px;
    height: 35px;
    border: none;
    background-color: #7e206c;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 1.4em;
    }

.leftBtnCount > input:focus{
    outline: none;
}

.rightPanel{margin-top: 45px;}

.rightP{
    font-size: 18px;
}

.rightFirst{
    margin-bottom: 15px;
}

.rightSecond{
    margin: 2px 0px;
}

.rightPhone{
    margin-top: 30px;
}
.rightPhone > * {
    display: inline;
}

.rightLast .rightEmail{text-decoration: none;cursor: pointer;color: #d1669e;}

.rightLast > *{
    display: inline;
}


@media screen and (max-width: 991px){
    .leftItem{
    position: relative;
}
    .leftItem > p{
        font-size: 1.1em;
    }
    .leftSubRow{
        padding: 17px 0;
    }
    .rightP{
        font-size: 1.1em;
    }
    .rightFirst{
    padding-top: 10px;
}
    .rightPanel{
    margin-top: 10px;
}
    .leftPanel{
    margin-top: 10px;
}
    .leftInput{
    height: 33px;
}
    .leftItem{height: 33px;margin-bottom: 5px;}

    .leftInput::-webkit-input-placeholder {
        font-family: sans-serif;
        font-size: 1.1em;
        color: #4C4C4C;
        margin-left: 5%;

    }

    .leftInput::-moz-placeholder{
        font-family: sans-serif;
        font-size: 1.1em;
        color: #4C4C4C;
        margin-left: 5%
    }/* Firefox 19+ */

    .leftInput:-moz-placeholder{
        font-family: sans-serif;
        font-size: 1.1em;
        color: #4C4C4C;
        margin-left: 5%
    }/* Firefox 18- */

    .leftInput:-ms-input-placeholder{
        font-family: sans-serif;
        font-size: 1.1em;
        color: #4C4C4C;
        margin-left: 5%
    }

    .leftInputCont > textarea{
        height: 174px;
    }

}

@media screen and (max-width: 767px){

    .leftSubRow{
    padding: 8px 0;
}

    .leftInputCont > textarea{
        height: 214px;
    }
    .lastLeftSubRow{padding-bottom: 20px;}
    .rightPanel{
        margin-top: 55px;
    }
    .rightPanel > *{
        padding: 0;
        margin: 5px 0;
    }
    .rightPhone{
        margin-top: 40px;
    }

}







/*Live Chat section*/


#liveChat{
    bottom: 0px;
}

#liveChat > a{

}

#liveChatRef{
    height: 66px;
    width: 228px;
    background-color: #7e206c;
    float: right;
}

#liveChatRef > h2{display: inline-block;color: white;font-family: 'Nunito', sans-serif;margin: 0px;position: relative;top: 16px;}

#liveChatRef > img{height: 32px;width: auto;display: inline-block;position: relative;top: 11px;margin-left: 20px;margin-right: 18px;}



/*LIVECHATBIG SECTION*/

.lc{
    z-index: 10000;
    position: fixed;
    bottom: 15px;
    right: 15px;
}

.liveChatBigCont{
    width: 386px;
    height: 690px;
    float: right;
    background-color: #7e206c;
    display: none;
}

.topSection{
    padding-top: 7px;
    padding-bottom: 8px;
}

.topSection > *{
    display: inline;
}

.liveChatP{
    width: auto;
    color: white;
    position: relative;
    top: 1px;
    left: 42px;
}

.livaChatImg{width: 30px;height: auto;position: relative;top: -3px;left: 20px;}

.closeChatImg{
    float: right;
    width: 14px;
    position: relative;
    top: 13px;
    right: 20px;
    cursor: pointer;
}

.welcomeSection{
    background-color: white;
    margin: 10px;
    margin-top: 0px;
    height: 624px;
    padding: 20px;
    padding-top: 25px;
}

.welcomeSection > *{
    display: block;
}

.welcomeP{
    color: #7e206c;
    margin-bottom: 10px;
}

.enterName{
    margin-bottom: 20px;
    font-size: 18px;
    float: left;
    width: 260px;
}

.welcomeInput{
    width: 312px;
    height: 40px;
    margin-bottom: 20px;
}

.welcomeBtn{
    width: 135px;
    height: 38px;
    border: none;
    background-color: #7e206c;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 1.4em;
}

.welcomeBtn:focus{
    outline: none;
}

.chattingSection{
    display: none;
    background-color: white;
    margin: 10px;
    margin-top: 0px;
    height: 624px;
    padding: 20px 10px;
    padding-right: 0px;
    padding-bottom: 10px;
}

.showMessages{
    width: 100%;
    height: 442px;
}

.showMessages:vertical{
    color: red;
}



.messageList{
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

.rollbar-content > li{padding: 7px 0px;}

.userMessage{
}

.answerMessage{position: relative;left: 75px;}

.answMessageTop{
    padding-top: 7px;
    margin-bottom: 8px;
}

.answUserName{}

.answMessageTime{
    position: relative;
    color: white;
    text-align: right;
    padding: 0px;
    padding-right: 26px;
    font-weight: bold;
    font-size: 14px;
}

.answMessageValue{
    color: white;
    position: relative;
    display: block;
    padding-left: 12px;
    padding-right: 30px;
    font-family: sans-serif;
    font-size: 18px;
    word-wrap: break-word;
    padding-bottom: 15px;
}

.messageTop{
    padding-top: 7px;
    margin-bottom: 8px;
    /* position: relative; */
    /* top: -99px; */
}

.messageItem{
    width: 256px;
    position: relative;
}

.messageItem > canvas{
    width: 256px;
    height: 100px;
    position: absolute;
}

.userName{display: inline-block;padding: 0px;padding-left: 30px;font-weight: bold;font-family: 'Nunito', sans-serif;font-size: 14px;}

.messageTime{
    text-align: right;
    padding: 0px;
    padding-right: 12px;
    font-weight: bold;
    font-size: 14px;
}

.messageValue{
    position: relative;
    display: block;
    padding-left: 30px;
    padding-right: 12px;
    font-family: sans-serif;
    font-size: 18px;
    word-wrap: break-word;
    padding-bottom: 15px;
}

.inputMessageCont{
    margin-top: 10px;
    margin-right: 10px;
    height: 131px;
}

.inputMessageCont .inputMessage{
    width: 100%;
    margin-bottom: 10px;
    resize: none;
    height: 93px;
}

.inputMessageBtn{
    width: 86px;
    height: 38px;
    border: none;
    background-color: #7e206c;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 1.4em;
    position: relative;
    left: 260px;
    /* top: 29px; */
}

.inputMessageBtn:focus{
    outline: none;

}

.invalidInput{
    box-shadow: 0 0 15px red;
}








/* Footer Section */


.footerCont .row{
    /* width: 100%; */
    margin: 0px;
}

.footer{
    background-color: #d1669e;
    margin-top: 50px;
}

.it{

}

.nameServices{font-family: 'Nunito', sans-serif;color: white;}

.it > a{
    text-decoration: none;
}

.it > a > p{
    color: white;
    font-family: sans-serif;
    font-size: 16px;
}


.otherLinks{

}

.buffer{
    margin-top: 28px;
}



.aboutAs{

}

.aboutAs > h2{

}

.aboutAs > a{

}

.aboutAs > a > p{

}

.firstCol{margin-bottom: 26px;}

.firstCol > a{
    text-decoration: none;

}

.secondCol{}

.secondCol > a{
    text-decoration: none;
}

@media screen and (max-width:1024px){
    .secondCol{margin-bottom: 26px;}
}

.lvl2{height: 46px;}

.lvl2 > img{height: 40px;width: auto;position: relative;top: -14px;}

.lvl2 > p{color: white;font-family: 'Nunito', sans-serif;font-size: 20px;line-height: 23px;margin-left: 10px;}

@media (min-width:1024px) and (max-width:1460px){
    .lvl2 > p{font-size: 18px;margin-left: 2px;}
}

@media (min-width:991px) and (max-width:1024px){
    .lvl2 > p{font-size: 15px;}
}

.inlineBlock{
    display: inline-block;
}



/*
/!*HIDDING OTHER SERVICES*!/

.otherServices{
    display: block;
}

.otherServices > *{cursor: default;}

.other{color: #D1669E;cursor: default;}

.lvl2 > img{display: none;cursor: default;}

.lvl2 > p{color: #D1669E;cursor: default;}

#boilerSupport{cursor: default;}

#tvSupport{cursor: default;}

#emergencySupport{cursor: default;}

#digitalSupport{cursor: default;}
*/







#liveChat{
    bottom: 0px;
    height: 87px;
}

#liveChat > a{

}

#liveChatRef{
    height: 66px;
    width: 228px;
    background-color: #7e206c;
    float: right;
    margin-bottom: 15px;
}

#liveChatRef > h2{display: inline-block;color: white;font-family: 'Nunito', sans-serif;margin: 0px;position: relative;top: 16px;}

#liveChatRef > img{height: 32px;width: auto;display: inline-block;position: relative;top: 11px;margin-left: 20px;margin-right: 18px;}

.footerCont{padding: 0px;}

#last{background-color: #7e206c;height: 52px;}

.liveChatCont{
    padding: 0px;
}

#copuringP{
    width: 90%;
    margin: 0px;
}

#copuringP > p{
    color: white;
    margin-top: 16px;
    font-size: 1.1em;
    width: 100%;
}

@media screen and (max-width:991px) {
    .otherServices{
        padding: 0px;
    }
}

@media screen and (max-width:510px) {
    #copuringP > p{
        color: white;
        margin-top: 4px;
        font-size: 1.1em;
    }
}



@media screen and (max-width: 767px){
    .lvl2 > p{margin-left: 5px;}

    .buffer{margin-top: 100px;}

    #last{

    }

    .firstCol{margin-bottom: 30px;padding-right: 0px;}

    .secondCol{
        margin-bottom: 0px;
        padding-right: 0px;
    }

    .other{
        margin-top: 55px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width:338px ){
    .lvl2 > p{
        font-size: 17px;
    }
}



@media screen and (max-width:991px ){
    #liveChatRef{
        margin-right: 0px;
    }
}

@media screen and (max-width:767px ){

}

@media screen and (max-width:380px ){

}
